@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Prompt&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family:"Outfit",sans-serif
}


body {
background-color: hsl(212, 45%, 89%);
text-align: center;
margin: 0px;
/*overflow: hidden;*/
}


.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}


img {
border-radius: 0.625em;
width: 100%;
margin-bottom: 1.25em;
}

h1 {
margin-bottom: 0.938em;
color: hsl(218, 44%, 22%);
font-weight:700;
font-size: 1.3rem;
}

p {
margin-bottom: 0.625em;
color:hsl(220, 15%, 55%);
font-weight:400;
font-size: 0.9375rem;
}

.box {
 max-width: 17.5em;
 background-color: hsl(0, 0%, 100%);
 padding: 1.25em;
 border-radius: 0.625em;
}



